.Rproj.user
.Rhistory
.RData
.Ruserdata
data\all_persons.csv
tex\main-blx.bib
tex/main-blx.bib
tex/main.aux
tex/main.bbl
tex/main.blg
tex/main.log
tex/main.out
tex/main.pdf
tex/main.run.xml
tex/main.synctex.gz
tex/refs.bib.sav
tex/MScED_Dissertation-blx.bib
tex/MScED_Dissertation.aux
tex/MScED_Dissertation.bbl
tex/MScED_Dissertation.blg
tex/MScED_Dissertation.log
tex/MScED_Dissertation.out
tex/MScED_Dissertation.pdf
tex/MScED_Dissertation.run.xml
tex/MScED_Dissertation.synctex.gz
tex/MScED_Dissertation.toc
tex/MScED_Dissertation.lof
tex/MScED_Dissertation.lot
tex/MScED_Dissertation.lof
tex/MScED_Dissertation.lot
tex/MScED_Dissertation.lot
tex/MScED_Dissertation.lot
